[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/iwwc
Restart=on-failure

[Unit]
After=graphical-session-pre.target
PartOf=graphical-session.target
Description=Notification Daemon